.iphone14FirstPageChild {
  position: absolute;
  top: 769.5px;
  left: 58px;
  border-radius: var(--br-3xs);
  width: 275px;
  height: 40px;
  cursor: pointer;
}
.image1Icon {
  position: absolute;
  top: 42px;
  left: 34px;
  width: 323px;
  height: 492px;
  object-fit: cover;
}
.orderHere {
  position: absolute;
  top: 773px;
  left: 123px;
  display: inline-block;
  width: 145px;
}
.iphone14FirstPage {
  position: relative;
  background-color: var(--color-blanchedalmond);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-saddlebrown);
  font-family: var(--font-inter);
}
