.image12 {
  position: relative;
  border-radius: var(--br-3xs);
  width: 133px;
  height: 120px;
  background-image: url(/public/image-12@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
